<!DOCTYPE html>
<html>

<head>
    <title> Create User </title>

    <link rel="stylesheet" href="css/style.css">
</head>

<!--<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   

        <div> <a href="/about">ABOUT US</a></div>
        <div> <a href="/404">Error page</a></div>
        <div> <a href="/test">test page</a></div>
        <div><a href="/test">test</a></div>


    </div>
   



</body>

</html>-->