<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="nav_wrapper">
            <div class="left_side">
                <div class="nav_link_wrapper">
                    <a href="INDEX.html"> HOME </a>
                </div>

                <div class="nav_link_wrapper">
                    <a href="about.html">ABOUT US</a>

                </div>
                <div class="nav_link_wrapper">
                    <a href="Menu.html">MENU</a>

                </div>
                <div class="nav_link_wrapper">
                    <a href="login.html">SIGN IN</a>

                </div>
            </div>

            <div class="right_side">
                <div class="brand">
                    <div> BIRIYANI HOUSE</div>
                </div>
            </div>
        </div>

        <div class="content_wrapper">
            <div class="menu_items_wrapper">

                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image7.jpg)"></div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!--  <img src="images/image3.jpg">-->
                        </div>
                        <div class="subtitle">Our Popular menu</div>
                    </div>
                </div>
                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image10.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!-- <img src="images/image7.jpg">-->
                        </div>
                        <div class="subtitle">Our Popular men</div>
                    </div>
                </div>

                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image4.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!--<img src="images/image9.jpg">-->
                        </div>
                        <div class="subtitle"> Our Popular menu</div>
                    </div>
                </div>

                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image5.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!--   <img src="images/image8.jpg">-->
                        </div>
                        <div class="subtitle"> Our Popular menu</div>
                    </div>
                </div>
                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image6.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!--   <img src="images/image5.jpg">-->
                        </div>
                        <div class="subtitle"> Our Popular menu</div>
                    </div>
                </div>
                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image1.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!--<img src="images/image7.jpg">-->
                        </div>
                        <div class="subtitle"> Our Popular menu</div>
                    </div>
                </div>


                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image1.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!-- <img src="images/image1.jpg">-->
                        </div>
                        <div class="subtitle"> Our Popular menu</div>
                    </div>
                </div>


                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image1.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!-- <img src="images/image10.jpg">-->
                        </div>
                        <div class="subtitle"> Our Popular menu</div>
                    </div>
                </div>
                <div class="menu_item_wrapper">
                    <div class="menu_img_background" style="background-image: url(images/image2.jpg)"> </div>


                    <div class="img_text_wrapper">
                        <div class="logo_wrapper">
                            <!-- <img src="images/image11.jpg">-->
                        </div>
                        <div class="subtitle"> Our Popular menu</div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>
<script>
    const menuItems = document.querySelectorAll('.menu_item_wrapper')

    menuItems.forEach(menuItem => {


        menuItem.addEventListener('mouseover', () => {
            menuItem.childNodes[1].classList.add('img-darken');
            console.log(menuItem.childNodes[1].classList);

        })


        menuItem.addEventListener('mouseout', () => {
            menuItem.childNodes[1].classList.remove('img-darken');
        })

    })
</script>

</html>