<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style_about.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <h2>Welcome to Moushumi Dinner</h2>
            <p class="text">
                Founded in 2021 by the Das Family, Moushumi Dinner offers a vast menu of chicken, lamb, goat, seafood, vegetarian and vegan dishes, as well as a selection of sweets and desserts all prepared from authentic Indian recipes. So whether you have a taste for
                a flavorful curry or something more exotic, you’ll see why our customers drive far beyond their own neighborhood to taste food the way it’s served in Bangladesh. Come to our restaurant today and experience the real thing: memorable food
                and exceptional value. We also offer delivery service with our own app and our online menu is designed to place your order for pickup at any of our locations.</p>
            <div class="skills">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>
    </div>

</body>

</html>

</html>