<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta/noty.css">
</head>


<body>
    <div class="container">
        <div class="nav_wrapper">
            <div class="left_side">
                <div class="brand">
                    <div>MOUSHUMI DINER</div>
                </div>
            </div>

            <div class="right_side">
                <div class="nav_link_wrapper">
                    <a href="/"> HOME </a>
                </div>

                <div class="nav_link_wrapper">
                    <a href="/about">ABOUT US</a>

                </div>
                <div class="nav_link_wrapper">
                    <a href="/menu">MENU</a>
                </div>

                <% if (user) { %>
                    <div class="nav_link_wrapper">
                        <form id='logout' action="/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#">zsLogout</a>
                        </form>

                    </div>
                    <% } else { %>
                        <div class="nav_link_wrapper">
                            <a href="/login">SIGN IN</a>
                        </div>
                        <% } %>
                            <div class="nav_link_wrapper">
                                <div class="inline_block">
                                    <a href="/cart" class="test_block">
                                        <span id="cartCouter" class="total-addtoCart-item"><%= session.cart && session.cart.totalQty > 0? session.cart.totalQty: '' %></span>
                                        <img src="/images/cart.png" alt="cart" width="45" height="35"></a>
                                </div>

                            </div>



            </div>

        </div>
        <%- body %>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/client.js"></script>

</body>

</html>