extends ./layout.pug
block content
    div.create-container
        form(action="/edit",  method="post")
            input(type="hidden" name= "_id" value= superhero._id)
            input(type="text", placeholder="superhero name", required="required", name="superhero" value= superhero.name)
            input(type="text", placeholder="superhero description", required="required", name="description" value= superhero.description)
           
            br
            br
            case superhero.color
                when 'Red'
                    input(type="radio",name="color",value="Red",checked,style="color:Red")
                    span(style="color:Red") Red
                    input(type="radio",name="color",value="Green")
                    span Green
                    input(type="radio",name="color",value="Blue")
                    span Blue
                when 'Green'
                    input(type="radio",name="color",value="red")
                    span Red
                    input(type="radio",name="color",value="Green",checked,style="color:green")
                    span(style="color:green") Green
                    input(type="radio",name="color",value="Blue")
                    span Blue
                when 'Blue'
                    input(type="radio",name="color",value="red")
                    span Red
                    input(type="radio",name="color",value="Green")
                    span Green
                    input(type="radio",name="color",value="Blue",checked,style="color:Blue")
                    span(style="color:Blue") Blue
                    br
                default
                    h3(style="color:red") Warning! This hero has no fav-color! Please choose one for him/her.
                    input(type="radio",name="color",value="red")
                    span Red
                    input(type="radio",name="color",value="Green")
                    span Green
                    input(type="radio",name="color",value="Blue")
                    span Blue
                    br
                    br
            button Edit  


            

    
    a(href= "/") Home