div.create-container
  form(action="/superheroes",  method="post")
    input(type="text", placeholder="superhero name", required="required", name="superhero")
    input(type="text", placeholder="superhero description", required="required", name="description")
    br
    br
    input(type= 'checkbox' name= 'weather' checked value= 'Spring') 
    span Spring 
    input(type= 'checkbox' name= 'weather' value= 'Summer') 
    span Summer 
    br
    br
    input(type= 'radio' name= 'color' value= 'Red') 
    span Red 
    input(type= 'radio' name= 'color' value= 'Blue') 
    span Blue 
    input(type= 'radio' name= 'color' value= 'Green') 
    span Green 
    br
    button Create