doctype html
html(lang='en')
  head
    title Simple site using Node.js, Express and Pug
    link(rel='stylesheet', href="/css/styles.css")
    block styles
    script(src="js/scripts.js")
    block scripts
  body
    block content