<link rel="stylesheet" href="/css/style_order_tracker.css">
<section class="status">
    <div class="container3">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="order-status-box">
                <h1 class="text-xl font-bold">Track delivery status</h1>
                <h6 class="orderid">
                    <%=order._id %>
                </h6>
                <input id="hiddeninput" type="hidden" value="<%= JSON.stringify(order) %>">
            </div>
            <ul>
                <li class="status_line step-completed" data-status="order_placed"><span>Order Placed</span>
                </li>
                <li class="status_line current" data-status="confirmed"><span>Order confirmation</span>
                </li>
                <li class="status_line" data-status="prepared"><span>Preparation</span></li>
                <li class="status_line" data-status="delivered"><span>Out for delivery </span>
                </li>
                <li class="status_line1" data-status="completed"><span>Complete</span></li>
            </ul>

        </div>


    </div>
</section>
<script src="../../js/client.js"></script>
<script>
    let orderStatus = document.querySelectorAll('status_line')
    let order = document.querySelector('#hiddeninput') ? document.querySelector('#hiddeninput').value : null
    order = JSON.parse(order)
    console.log(orderStatus)
</script>