<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style_login.css">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h1 id="header-title" style="display: none;"> Sign In </h1>
    <div class='container'>

        <div class="form" id="addForm">

            <form action='/login' class="login-form" id='logForm' style="display: block;" method="POST">
                <% if(messages.error) { %>
                    <span class=warning><%= messages.error %></span>
                    <% } %>
                        <input name='email' type="text" id="username1" placeholder="email" size="30" maxlength="32"><br><br>

                        <input name='password' type="password" name=" password" placeholder=" password" size="30" maxlength="20"><br><br>

                        <button class="btn btn-secondary btn-block" id="button2" type="submit"> login</button>
                        <div class="text-muted mb-2"></div>

                        <p class="message" id="message">Not registered? <a href="/register"> Register </a></p>


            </form>
        </div>
    </div>


    <script src='js/login.js'>
    </script>
</body>

</html>