@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');
:root {
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

body {
    margin: 0;
    background: cornsilk;
}

table {
    margin-left: 70px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid gray;
    text-align: center;
    margin-left: 140px;
}

td {
    background-color: white;
    border-collapse: collapse;
}

table tr td:nth-child(1) {
    width: 100px
}

table tr td:nth-child(2) {
    width: 100px
}

table tr td:nth-child(3) {
    width: 100px
}

table tr td:nth-child(4) {
    width: 100px
}

table tr td:nth-child(5) {
    width: 100px
}

th {
    background-color: lightgrey;
}

table td:hover {
    background-color: rgb(176, 240, 226);
    color: black;
}

.customersOrder tr td:nth-child(1) {
    width: 250px;
}

.customersOrder table tr td:nth-child(2) {
    width: 200px;
}

.customersOrder table tr td:nth-child(3) {
    width: 200px;
}

.customersOrder table tr td:nth-child(4) {
    width: 200px;
}

.customersOrder table tr td:nth-child(5) {
    width: 200px;
}

.customersOrder .thead-dark th {
    color: #fff;
    background-color: #2b2d42;
    border-color: #32383e;
}


/* setting font family and font size for http://localhost:3000/client/order/ */

.CS_OrderList {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.CS_Orders {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.CS_phone {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.CS_Address {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.CS_Time {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

table {
    border-spacing: 0px;
    width: 75%;
}

.customersOrder td,
.customersOrder th {
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.customersOrder td>a.btn {
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.customersOrder tr:hover {
    background-color: #06d6a0;
}

.customersOrder tr:hover td>a {
    box-shadow: none;
}

.customersOrder .thead-dark th {
    color: #fff;
    background-color: var(--dark);
    border-color: #32383e;
}


/*Styling the admin order page*/

.customersOrder2 {
    font-family: 'PT Sans', sans-serif;
    border: 1px solid rgb(223, 222, 222);
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
    margin-left: 110px;
    width: 1200px;
    height: 700px;
    color: black;
    /*//pointer-events: none;
     position: absolute;
         padding: 15px;

    */
}

.customersOrder2 .thead-dark th {
    color: #fff;
    background-color: var(--dark);
    border-color: #32383e;
}

.customersOrder2 tr:hover td>a {
    box-shadow: none;
}

.customersOrder2 {
    border-spacing: 0px;
    width: 85%;
}

.customersOrder2 td,
.customersOrder2 th {
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.customersOrder2 td>a.btn {
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

tr {
    height: 70px;
}