                                                body {
                                                    margin: 0;
                                                    background: rgb(35, 35, 36);
                                                    color: blanchedalmond;
                                                }
                                                
                                                .nav_link_wrapper:hover {
                                                    border-bottom: 1px solid rgb(238, 211, 211);
                                                }
                                                
                                                .nav_link_wrapper a:hover {
                                                    color: orangered;
                                                }
                                                /*..............................Styling empty cart ....................*/
                                                
                                                .container_cart {
                                                    text-align: center;
                                                    font-size: 30px;
                                                    margin: 90px;
                                                }
                                                
                                                .return_button {
                                                    display: inline-block;
                                                    background-color: tomato;
                                                    color: whitesmoke;
                                                    border-radius: 5px;
                                                    padding: 5px;
                                                }
                                                
                                                .empty_cart {
                                                    width: 500px;
                                                    height: 400px;
                                                    margin-left: auto;
                                                    margin-right: auto
                                                }
                                                
                                                .text_2 {
                                                    color: gray
                                                }
                                                
                                                .image {
                                                    width: 100px;
                                                    height: 100px;
                                                    height: 8%;
                                                    width: 8%;
                                                }
                                                /*..............................Styling Cart with ordered items ....................*/
                                                
                                                .cart {
                                                    overflow: auto;
                                                }
                                                
                                                .order_container {
                                                    margin: auto;
                                                    text-align: center;
                                                    background-color: rgb(243, 215, 215);
                                                    height: fit-content;
                                                    overflow: auto;
                                                }
                                                
                                                .order_container_item {
                                                    display: flex;
                                                    padding-left: 400px;
                                                    background-color: bisque;
                                                    border-bottom: 3px solid #acafa7;
                                                    color: black;
                                                }
                                                
                                                .text_font {
                                                    font-weight: bold;
                                                    padding-inline-start: 10px;
                                                }
                                                /*..............................Styling ordered Items ....................*/
                                                
                                                .ordered_item {
                                                    position: relative;
                                                    display: flex;
                                                    align-items: center;
                                                    margin-top: 15px;
                                                    color: black;
                                                    font-size: smaller;
                                                    background: cornsilk;
                                                }
                                                
                                                .ordered_item img {
                                                    padding-left: 350px;
                                                    height: 1%;
                                                }
                                                
                                                .image_ordered_item2 {
                                                    padding-left: 30px;
                                                    width: 250px;
                                                    height: 100px;
                                                }
                                                
                                                .image_ordered_item2 span {
                                                    font-size: small;
                                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                                }
                                                
                                                .ordereditem {
                                                    display: flex;
                                                    flex-grow: 1;
                                                    padding-left: 380px;
                                                    padding-right: 280px;
                                                }
                                                
                                                .itemname {
                                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                                    color: brown;
                                                    font-size: 10px;
                                                }
                                                /*..............................Styling total amount for ordered Items ....................*/
                                                
                                                .myDiv {
                                                    color: black;
                                                    display: inline-block;
                                                    width: 150px;
                                                    vertical-align: middle;
                                                    margin-left: 10rem;
                                                    margin-top: 50px;
                                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                                }
                                                
                                                .sizeDiv {
                                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                                }
                                                
                                                .order-amount {
                                                    text-align: right;
                                                    padding-right: 400px;
                                                    color: black;
                                                    overflow: auto;
                                                }
                                                
                                                .total-price {
                                                    font-weight: bold;
                                                    font-size: large;
                                                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                                                    color: orangered;
                                                }
                                                /*..............................Styling Remove button ....................*/
                                                
                                                .remove-item {
                                                    background-color: #575af8;
                                                    color: #FFFFFF;
                                                    border-radius: 4px;
                                                    padding: 6px;
                                                    margin-left: 200px;
                                                    margin-top: 20px;
                                                    font-size: small;
                                                }
                                                /*..............................Styling Input element ....................*/
                                                
                                                .form1 {
                                                    padding-top: 10px;
                                                }
                                                
                                                input[type=text],
                                                select {
                                                    width: 18%;
                                                    padding: 6px 12px;
                                                    margin: 8px 0;
                                                    border: 1px solid #ccc;
                                                    border-radius: 4px;
                                                    box-sizing: border-box;
                                                }
                                                /*..............................Styling "Checkout" button in cart page....................*/
                                                
                                                .button {
                                                    transition-duration: 0.4s;
                                                    border-radius: 4px;
                                                    display: inline-block;
                                                    background-color: #f4511e;
                                                    border: none;
                                                    color: #FFFFFF;
                                                    text-align: center;
                                                    font-size: 15px;
                                                    padding: 5px;
                                                    width: 100px;
                                                }
                                                
                                                .button:hover {
                                                    background-color: linen;
                                                    border: 2px solid orangered;
                                                    color: rgb(231, 17, 17);
                                                    font-size: 14px;
                                                    font-weight: bold;
                                                }
                                                
                                                .button2 {
                                                    margin-top: 10px;
                                                    transition-duration: 0.4s;
                                                    border-radius: 4px;
                                                    display: inline-block;
                                                    background-color: #f4511e;
                                                    border: none;
                                                    color: #FFFFFF;
                                                    text-align: center;
                                                    font-size: 15px;
                                                    padding: 8px;
                                                    width: 150px;
                                                }
                                                
                                                .button2:hover {
                                                    background-color: linen;
                                                    border: 2px solid orangered;
                                                    color: rgb(231, 17, 17);
                                                    font-size: 14px;
                                                    font-weight: bold;
                                                }
                                                /* Styling Edit button  */
                                                
                                                .delete-item {
                                                    margin-top: 10px;
                                                }
                                                
                                                .dropbtn {
                                                    background-color: #04AA6D;
                                                    color: white;
                                                    padding: 8px;
                                                    font-size: 16px;
                                                    margin-right: 150px;
                                                    border: none;
                                                }
                                                
                                                .dropdown {
                                                    position: relative;
                                                    display: inline-block;
                                                }
                                                
                                                .dropdown-content {
                                                    display: none;
                                                    position: absolute;
                                                    background-color: #f1f1f1;
                                                    min-width: 160px;
                                                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                                    z-index: 1;
                                                }
                                                
                                                .dropdown-content a {
                                                    color: black;
                                                    padding: 12px 16px;
                                                    text-decoration: none;
                                                    display: block;
                                                }
                                                
                                                .dropdown-content a:hover {
                                                    background-color: #ddd;
                                                }
                                                
                                                .dropdown:hover .dropdown-content {
                                                    display: block;
                                                }
                                                
                                                .dropdown:hover .dropbtn {
                                                    background-color: #3e8e41;
                                                }
                                                /* ................................*/
                                                
                                                .cartelement {
                                                    background-color: black;
                                                }